<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }} </h1>
    <article>NPM : {{ npm }} </article>
    <article>Tempat kuliah : {{ kuliah }}</article>
    <article>Hobi : {{ hobi }} </article>
    <article>Deskripsi : {{ deskripsi }} </article>
    <img src="https://lh3.googleusercontent.com/-AyOS-H5M6RE/AAAAAAAAAAI/AAAAAAAAAQ0/_LsLXnPekCw/s640-il/photo.jpg" alt="Ariq Haryo Setiaki">
    <h1>Hello my name is {{ name1 }} </h1>
    <article>NPM : {{ npm1 }} </article>
    <article>Tempat kuliah : {{ kuliah }}</article>
    <article>Hobi : {{ hobi1 }} </article>
    <article>Deskripsi : {{ deskripsi1 }} </article>
    <img src= "https://instagram.fcgk4-2.fna.fbcdn.net/vp/8192cadf9cd9179d00561cc245a05274/5C3792F3/t51.2885-15/e35/26872292_144132263064338_3538734854956908544_n.jpg" alt= "Ali Yusuf">
    <h1>Hello my name is {{ name2 }} </h1>
    <article>NPM : {{ npm2 }} </article>
    <article>Tempat kuliah : {{ kuliah }}</article>
    <article>Hobi : {{ hobi2 }} </article>
    <article>Deskripsi : {{ deskripsi2 }} </article>
    <img src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/de3f40c81e43e4c522b0b4c1034a79c5/5C340307/t51.2885-15/sh0.08/e35/p750x750/13671742_1817285338499764_1765483066_n.jpg" alt="M. Faisal">
    
</body>
</html>
